[submodule "src/tests/googletest"]
	path = src/tests/googletest
	url = https://github.com/google/googletest.git
[submodule "conan/conan-hdf5"]
	path = conan/conan-hdf5
	url = git@github.com:Chrismarsh/conan-hdf5.git
[submodule "conan/conan-gmp"]
	path = conan/conan-gmp
	url = git@github.com:Chrismarsh/conan-gmp.git
[submodule "conan/conan-mpfr"]
	path = conan/conan-mpfr
	url = git@github.com:Chrismarsh/conan-mpfr.git
[submodule "conan/conan-cgal"]
	path = conan/conan-cgal
	url = git@github.com:Chrismarsh/conan-cgal.git
[submodule "conan/conan-vtk"]
	path = conan/conan-vtk
	url = git@github.com:Chrismarsh/conan-vtk.git
[submodule "conan/conan-netcdf-c"]
	path = conan/conan-netcdf-c
	url = git@github.com:Chrismarsh/conan-netcdf-c.git
[submodule "conan/conan-netcdf-cxx4"]
	path = conan/conan-netcdf-cxx4
	url = git@github.com:Chrismarsh/conan-netcdf-cxx4.git
[submodule "conan/conan-proj"]
	path = conan/conan-proj
	url = git@github.com:Chrismarsh/conan-proj.git
[submodule "conan/conan-eigen3"]
	path = conan/conan-eigen3
	url = git@github.com:Chrismarsh/conan-eigen3.git
[submodule "conan/conan-gperftools"]
	path = conan/conan-gperftools
	url = git@github.com:Chrismarsh/conan-gperftools.git
[submodule "conan/conan-armadillo"]
	path = conan/conan-armadillo
	url = git@github.com:Chrismarsh/conan-armadillo.git
[submodule "conan/conan-gsl"]
	path = conan/conan-gsl
	url = git@github.com:Chrismarsh/conan-gsl.git
[submodule "conan/conan-gdal"]
	path = conan/conan-gdal
	url = git@github.com:Chrismarsh/conan-gdal.git
