err.xml
.DS_Store

.ipynb_checkpoints

*.pyc
*.bak
CRHMr.log
.Rhistory


/cmake-build-debug/*
/cmake-build-release/*

/src/version.h

/cppcheck/*

/CHM.wiki/*

/docs/api/*
/docs/_build/*
/docs/doxygen/*
/docs/_ext/__pycache__