*.fuse_*
*.vtp
*.vtu
*.csv
.DS_Store
*.a
*.log
*.xls
*.Rhistory
*.obs
*.prj
*.json
Makefile
modules.pdf
/python/.idea/
/output/*
/bin/
/CHM.log
/CMakeFiles/*
/cppcheck/*
/doc/
/forcing/
/nbproject/
/tests/CMakeFiles
/tests/gtest/CMakeFiles/
/tools/mesher/*
/tools/MSwind/*
/tools/vtu2geo/*
meshes/*
cmake_install.cmake
CMakeCache.txt
compile_commands.json
Doxyfile
err.xml
/tools/meshstats/*
/src/version.h
/modules.dot
/CMake_fedora/*
/cmake-build-debug/*
/cmake-build-release/*
/CHM.wiki/*
node_modules/
/test-build/*
/test/*
/docs/api/*
/docs/_build/*
/docs/doxygen/*
/docs/_ext/__pycache__