*.fuse_*
*.vtp
*.vtu
*.csv
.DS_Store
/.idea/
/bin/
/CHM.log
/CMakeFiles/
/cppcheck/
/doc/
/nbproject/
/Testing/
/tests/CMakeFiles
/tests/gtest/CMakeFiles/
/tests/gtest/libgtest.a
/tests/gtest/libgtest_main.a
/wolf/
cmake_install.cmake
CMakeCache.txt
compile_commands.json
Doxyfile
err.xml
lol.mat
Makefile
marmot_1Oct2010-30Sept2011.xls