  {

  //The debug and matlab sections should come first, as they should be read prior to the rest of the config file being setup.
  // Section for debug related paramters
  "debug":
  {
      // Logging verbosity
      // debug, warning, error
     "debug_level":"debug"
  },
  "modules": //imporant these are [ ]
  [
    "Thornton_var_p",
  //  "Thornton_p",
    //"Marsh_shading_iswr",
  /*  "Sicart_ilwr",
    "PenmanMonteith_evaporation",*/
   // "Burridge_iswr",
    "Harder_precip_phase",
    //"Liston_wind", 
    "Walcek_cloud",
    "Iqbal_iswr",
   // "Liston_monthly_llra_ta",
   "Dodson_NSA_ta",
    "Liston_monthly_llra_rh"
  ],
  "config":
  {
    "Harder_precip_phase":"Harder_precip_phase.config"
  },
  "meshes":
  {
     "DEM":
     {
         "file": "tin_30mdem_30mtol_nodes.csv" //tin_30mdem_30mtol_nodes  tin_10mdem_2mtol_nodes ohara_tin_10m 
         //"file":"tin_1mdem_2mtol_nodes.csv"

     }
  },
  "output":
  {
    "VistaView":
    {
      "easting": 628332,
      "northing": 5648184,
      "file": "vv_xref.txt",
      "type": "timeseries"
    },
    "UpperClearing":
    {
      "easting": 628150,
      "northing": 5646577,
      "file": "uc_xref.txt",
      "type": "timeseries"
    },
    "FiseraRidge":
    {
      "easting": 626107,
      "northing": 5646559,
      "file": "fr_xref.txt",
      "type": "timeseries"
    }
    // "timeseries":
    // {
    //   "easting": 630742,
    //   "northing": 5645259,
    //   "file": "hm_xref.txt"
    // },
    // "mesh":
    // {
    //   "base_name":"marmot",
    //   "format": [ "vtu", "vtp"]
    // }
  },
  "global":
  {
    "latitude":50.960873,
    "longitude":-115.187890,
    "UTC_offset":7
  },
  "forcing":
  {
    "Vista View":
    {
    	"file":"vv_sep_15_2006.txt", //vv_oct12010 vv_oct12010_ts1  vv_oct2010 vv_oct2_4_2010 vv_sep_15_2006.txt 
    	"easting": 628332,
    	"northing": 5648184,
    	"elevation": 1956.0,
      "filter":
      {
        "p":
        {
          "macdonald_undercatch":
          {
            //params here
          }
        }
      }
    },
    "Upper Clearing":
    { 
      "file":"uc_sep_15_2006.txt", //uc_oct12010.txt  uc_oct12010_ts1  uc_oct2010 uc_oct2_4_2010  uc_sep_15_2006
      "easting": 628150,
      "northing": 5646577,
      "elevation": 1844.6
    },
     "Hay Meadow":
     {
       "file":"hm_sep_15_2006.txt", // hm_oct2010 hm_oct2_4_2010 hm_sep_15_2006
       "easting": 630742,
       "northing": 5645259,
       "elevation": 1436.3
     },
     "Fiserra ridge":
     {
       "file":"fr_sep_15_2006.txt",
       "easting": 626107,
       "northing": 5646559,
       "elevation": 2325
     }
    // "station":
    // {
    //   "ID":"Centennial ridge",
    //   "file":"cr.txt",
    //   "variables": ["RH","T"],
    //   "easting": 626896,
    //   "northing": 5645231,
    //   "elevation": 2468.3
    // }
    
  }  

}
