  {

  //The debug and matlab sections should come first, as they should be read prior to the rest of the config file being setup.
  // Section for debug related paramters
  "debug":
  {
      // Logging verbosity
      // debug, warning, error
     "debug_level":"debug"
  },
  "matlab":
  {
    "mfile_paths":
    {
      "path":"/home/chris/Documents/PhD/code/CHM/src/matlab_support",
      "path":"/Users/chris/Documents/PhD/code/CHM/src/matlab_support"
    }
  },
  "modules": //imporant these are [ ]
  [
  	"solar",
  	"shadows",
  	"airtemp",
    "rh_llra_var"
  ],
  "meshes":
  {
     "DEM":
     {
         "file": "tin_10mdem_2mtol_nodes.csv" //tin_30mdem_30mtol_nodes  tin_10mdem_2mtol_nodes
         //"file":"tin_1mdem_2mtol_nodes.csv"

     }
  },
   "output":
  {
    "timeseries":
    {
      "northing": 5648184,
      "easting": 628332,
      "variables": ["T","RH"],
      "plot": false,
      "file": "vv_time_series.txt"
    },
    "mesh":
    {
      "variables":["shadowed","solar_short"],
      "plot": true
    }
  },
  "global":
  {
    "latitude":50.960873,
    "longitude":-115.187890,
    "UTC_offset":7
  },
  "forcing":
  {
    "station":
    {
    	"ID":"Vista View",
    	"file":"vv_oct12010.txt", //vv_oct12010
    	"variables": ["RH","T"],
    	"easting": 628332,
    	"northing": 5648184,
    	"elevation": 1956.0
    },
    "station":
    {
      "ID":"Upper Clearing",
      "file":"uc_oct12010.txt", //uc_oct12010.txt
      "variables": ["RH","T"],
      "easting": 628150,
      "northing": 5646577,
      "elevation": 1844.6
    }/*,
    "station":
    {
      "ID":"Hay Meadow",
      "file":"hm.txt",
      "variables": ["RH","T"],
      "easting": 630742,
      "northing": 5645259,
      "elevation": 1436.3
    },
    "station":
    {
      "ID":"Centennial ridge",
      "file":"cr.txt",
      "variables": ["RH","T"],
      "easting": 626896,
      "northing": 5645231,
      "elevation": 2468.3
    },
    "station":
    {
      "ID":"Fiserra ridge",
      "file":"fr.txt",
      "variables": ["RH","T"],
      "easting": 626107,
      "northing": 5646559,
      "elevation": 2325
    }*/
  }  
}
