{

	// Section for debug related paramters
   "debug":
   {
   	    // Logging verbosity
   	    // debug, warning, error
       "debug_level":"debug"
   },
   "modules":
	{
		"snow":"TestModule"
	},
	"meshes":
   	{
       "DEM":
       {
           "file": "svf_30mdem_30mtol_nodes.csv"
       }
   },
   //specify the forcing data
   "forcing":
   {
		"station":
		{
			"ID":"Vista View",
			"file":"vista_view.txt",
			"variables": ["RH","T"],
			"easting": 628332,
			"northing": 5648184,
			"elevation": 1956.0
		}

   }   


   
}